h1{
  color: aqua;
    color: rgb(194, 29, 81);
        font-size: 60px;
    font-style: italic;
    font-weight: 900;
    
    font-family: 'Comforter Brush', cursive;
}
h2{
    font-family: 'Comforter Brush', cursive;
}
